<footer>
    <div class="footer mt-5">
        <div class="container-fluid">
            <div class="row justify-content-center align-items-center ">
                <div class="col-12 col-lg-5">
                    <h1 class="text-white text-center title-ocean">Se parte del cambio</h1>
                    <a href="#!" class="btn bg-coral btn-comunidad">Registrate</a>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-ocean container-fluid ">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-4 pt-5 pb-5">
                <h5 class="text-white fw-bold text-center">Save the Ocean</h5>
                <p class="text-white text-center fw-light">2022</p>
                <p class="text-center m-0">
                    <a href="#!" class="me-3"><i class="fa-2x text-white fab fa-instagram"></i></a>
                    <a href="#!"><i class="fa-2x text-white fab fa-facebook-square"></i></a>
                </p>
            </div>
        </div>
    </div>
</footer>