<%- include('./header.ejs'); %>
<section id="brigadas">
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center ">
            <div class="col-12 col-lg-5">
                <h1 class="text-white text-center title-ocean">¿Que son las brigadas?</h1>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row mt-5">
        <div class="col-12">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Justo laoreet sit amet cursus sit amet dictum sit. Et malesuada fames ac turpis. Sed faucibus turpis in eu mi bibendum neque egestas congue. Nisl pretium fusce id velit ut tortor pretium viverra suspendisse. Turpis massa sed elementum tempus egestas. Lectus urna duis convallis convallis tellus id interdum velit laoreet. Nibh tellus molestie nunc non blandit massa enim. Consectetur adipiscing elit pellentesque habitant morbi. Elementum nisi quis eleifend quam adipiscing vitae. Ipsum dolor sit amet consectetur adipiscing. Donec adipiscing tristique risus nec feugiat in fermentum posuere. Leo vel fringilla est ullamcorper eget nulla facilisi. Sed arcu non odio euismod.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Justo laoreet sit amet cursus sit amet dictum sit. Et malesuada fames ac turpis. Sed faucibus turpis in eu mi bibendum neque egestas congue. Nisl pretium fusce id velit ut tortor pretium viverra suspendisse. Turpis massa sed elementum tempus egestas. Lectus urna duis convallis convallis tellus id interdum velit laoreet. Nibh tellus molestie nunc non blandit massa enim. Consectetur adipiscing elit pellentesque habitant morbi. Elementum nisi quis eleifend quam adipiscing vitae. Ipsum dolor sit amet consectetur adipiscing. Donec adipiscing tristique risus nec feugiat in fermentum posuere. Leo vel fringilla est ullamcorper eget nulla facilisi. Sed arcu non odio euismod.</p>
        </div>
        <a href="/registro-brigada" class="btn btn-ocean bg-ocean crear text-white">Crea tu brigada</a>
    </div>
</div>
<%- include('./footer.ejs'); %>