<%- include('./header.ejs'); %>
<section id="playas">
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center ">
            <div class="col-12 col-lg-5">
                <h1 class="text-white text-center title-ocean">Especies en Peligro</h1>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row mt-5 mb-4">
        <div class="col-12">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Justo laoreet sit amet cursus sit amet dictum sit. Et malesuada fames ac turpis. Sed faucibus turpis in eu mi bibendum neque egestas congue. Nisl pretium fusce id velit ut tortor pretium viverra suspendisse. Turpis massa sed elementum tempus egestas. Lectus urna duis convallis convallis tellus id interdum velit laoreet. Nibh tellus molestie nunc non blandit massa enim. Consectetur adipiscing elit pellentesque habitant morbi. Elementum nisi quis eleifend quam adipiscing vitae. Ipsum dolor sit amet consectetur adipiscing. Donec adipiscing tristique risus nec feugiat in fermentum posuere. Leo vel fringilla est ullamcorper eget nulla facilisi. Sed arcu non odio euismod.</p>
        </div>
    </div>
    <div class="row mt-4 pb-5">
        <h3 class="text-ocean text-center fw-bold">Listado de especies en peligro de extinción</h3>
        <div class="col-12 col-lg-4 mt-5">
            <div class="img-especie">
                <img src="./images/especies/Ballena-azul.jpg" alt="Ballena Azul">
            </div>
            <p class="fw-bold">Ballena Azul</p>
        </div>
        <div class="col-12 col-lg-4 mt-5">
            <div class="img-especie">
                <img src="./images/especies/Delfin-blanca.jpg" alt="Delfin Blanca">
            </div>
            <p class="fw-bold">Delfin Blanca</p>
        </div>
        <div class="col-12 col-lg-4 mt-5">
            <div class="img-especie">
                <img src="./images/especies/leon-marino.jpg" alt="Leon Marino">
            </div>
            <p class="fw-bold">Leon Marino</p>
        </div>
        <div class="col-12 col-lg-4 mt-5">
            <div class="img-especie">
                <img src="./images/especies/Tiburon-martillo.jpg" alt="Tiburon Martillo">
            </div>
            <p class="fw-bold">Tiburon Martillo</p>
        </div>
        <div class="col-12 col-lg-4 mt-5">
            <div class="img-especie">
                <img src="./images/especies/Tortuga-carey.jpg" alt="Tortuga Carey">
            </div>
            <p class="fw-bold">Tortuga Carey</p>
        </div>
        <div class="col-12 col-lg-4 mt-5">
            <div class="img-especie">
                <img src="./images/especies/tortuga-lora.jpg" alt="Tortuga Lora">
            </div>
            <p class="fw-bold">Tortuga Lora</p>
        </div>
        <div class="col-12 col-lg-4 mt-5">
            <div class="img-especie">
                <img src="./images/especies/tortuga-verde.jpg" alt="Tortuga Verde">
            </div>
            <p class="fw-bold">Tortuga Verde</p>
        </div>
        <div class="col-12 col-lg-4 mt-5">
            <div class="img-especie">
                <img src="./images/especies/Totoaba.jpg" alt="Totoaba">
            </div>
            <p class="fw-bold">Totoaba</p>
        </div>
        <div class="col-12 col-lg-4 mt-5">
            <div class="img-especie">
                <img src="./images/especies/Vaquita-Marina.jpg" alt="Vaquita Marina">
            </div>
            <p class="fw-bold">Vaquita Marina</p>
        </div>
    </div>
</div>

<%- include('./bottom.ejs'); %>
<%- include('./footer.ejs'); %>