<%- include('./header.ejs'); %>

    <section id="oceanbg">
        <div class="container-fluid">
            <div class="row justify-content-center align-items-center ">
                <div class="col-12 col-lg-5">
                    <h1 class="text-white text-center title-ocean">Save the Ocean</h1>
                    <a href="#!" class="btn bg-coral btn-comunidad">Se parte de la comunidad</a>
                </div>
            </div>
        </div>
    </section>

    <section id="quienessomos" class="mt-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="text-ocean text-center fw-bold">Quienes Somos</h3>
                    <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus fugit, itaque, sint dolores qui necessitatibus perferendis obcaecati expedita minima dolor natus consequuntur, pariatur quisquam dignissimos consequatur molestiae explicabo aliquid veniam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus fugit, itaque, sint dolores qui necessitatibus perferendis obcaecati expedita minima dolor natus consequuntur, pariatur quisquam dignissimos consequatur molestiae explicabo aliquid veniam!</p>
                </div>
            </div>
            <div class="row mt-5 justify-content-center">
                <div class="col-12 col-lg-5">
                    <img src="./images/brigadas.png" alt="Sobre las birgadas" class="w-100">
                </div>
                <div class="col-12 col-lg-5 img-info">
                    <h5 class="text-ocean fw-bold">Sobre las brigadas</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae dicta velit dolor! Sunt itaque, voluptate odit repudiandae beatae veritatis consectetur odio maiores qui harum eligendi sapiente enim veniam molestias sit!</p>
                    <a href="brigadas.html" class="btn-comunidad2 btn bg-coral text-white">Conoce más</a>
                </div>
            </div>

            <div class="row mt-5 justify-content-center">
                <div class="col-12 col-lg-5 img-info">
                    <h5 class="text-ocean fw-bold">¿Cómo me inscribo?</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae dicta velit dolor! Sunt itaque, voluptate odit repudiandae beatae veritatis consectetur odio maiores qui harum eligendi sapiente enim veniam molestias sit!</p>
                    <a href="registrate.html" class="btn-comunidad2 btn bg-coral text-white">Registrate</a>
                </div>
                <div class="col-12 col-lg-5">
                    <img src="./images/registrate.png" alt="¿Cómo me inscribo?" class="w-100">
                </div>
            </div>
        </div>
    </section>
    <%- include('./bottom.ejs'); %>
    <%- include('./footer.ejs'); %>