<%- include('./header.ejs'); %>

<div class="container">
    <div class="row mt-5">
        <div class="col-12 col-lg-4">
            <img src="./images/perfil/perfil1.png" alt="" class="foto-perfil">
        </div>
        <div class="col-12 col-lg-8">
            <h2 class="fw-bold">Juaquin Mendoza</h2>
            <p>BIO: <br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia facilis tempora quam iure totam velit aspernatur similique at quasi consectetur quisquam eos adipisci libero possimus sequi magnam optio, accusamus nulla?</p>
            <div class="row">
                <div class="col-1">
                    <img src="./images/insignias/insignia-primeraBrigada.png" alt="Primera Brigada" class="insignia">
                </div>
                <div class="col-1">
                    <img src="./images/insignias/insignia-recoleccion1KG.png" alt="Primera Brigada" class="insignia">
                </div>
                <div class="col-1">
                    <img src="./images/insignias/insignia-recoleccionAluminio.png" alt="Primera Brigada" class="insignia">
                </div>
                <div class="col-1">
                    <img src="./images/insignias/insignia-recoleccionPlastico.png" alt="Primera Brigada" class="insignia">
                </div>
                <div class="col-1">
                    <img src="./images/insignias/insignia-recoleccionVidrio.png" alt="Primera Brigada" class="insignia">
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12 col-lg-3">
            <div class="card">
                <img src="./images/eventos/evento1.png" class="card-img-top" alt="Cozumel">
                <div class="card-body card-evento">
                    <h5 class="card-title fw-bold">Evento: Cozumel, México</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic dolor quo doloremque vero consequuntur ea laboriosam consequatur esse aut vitae ratione eum, odio, dolorum in minima possimus temporibus, sapiente cupiditate.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-3">
            <div class="card">
                <img src="./images/eventos/evento2.png" class="card-img-top" alt="Mazatlán">
                <div class="card-body card-evento">
                    <h5 class="card-title fw-bold">Evento: Mazatlán, México</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, elit. Hic dolor quo doloremque vero consequuntur ea laboriosam consequatur esse aut vitae ratione eum, odio, dolorum possimus temporibus, sapiente cupiditate.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('./footer.ejs'); %>