<%- include('./header.ejs'); %>
<section id="registro" class="pt-5">
    <div class="container">
        <div class="row justify-content-center align-items-center ">
            <div class="col-12">
                <h3 class="text-white text-center fw-bolder mb-5">Regístrate</h3>
                <div class="card">
                    <div class="card-body">
                        <form action="" class="mt-5 mb-5">
                            <div class="row">
                                <div class="col-12 col-lg-6">
                                    <div class="mb-3">
                                        <label for="nombre" class="form-label">Nombre Completo</label>
                                        <input type="text" class="form-control input-ocean" id="nombre" name="nombre">
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <div class="mb-3">
                                        <label for="correo" class="form-label">Corréo electrónico</label>
                                        <input type="email" class="form-control input-ocean" id="correo" name="correo">
                                    </div>
                                </div>

                                <div class="col-12 col-lg-6">
                                    <div class="mb-3">
                                        <label for="nombre" class="form-label">Nombre Completo</label>
                                        <input type="text" class="form-control input-ocean" id="nombre" name="nombre">
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <div class="mb-3">
                                        <label for="telefono" class="form-label">Teléfono</label>
                                        <input type="number" class="form-control input-ocean" id="telefono" name="telefono">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="mb-3">
                                        <label for="direccion" class="form-label">Dirección</label>
                                        <input type="text" class="form-control input-ocean" id="direccion" name="direccion">
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <div class="mb-3">
                                        <label for="password" class="form-label">Contraseña</label>
                                        <input type="password" class="form-control input-ocean" id="password" name="password">
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <div class="mb-3">
                                        <label for="confpass" class="form-label">Confirma contraseña</label>
                                        <input type="password" class="form-control input-ocean" id="confpass" name="confpass">
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <input type="submit" value="Crear cuenta" class="bg-ocean crear text-white btn-ocean">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include('./footer.ejs'); %>